body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f4f9;
}

h1 {
    color: #333;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #388E3C; /* Üzerine gelince biraz daha koyu bir yeşil olacak */
}

p {
    color: #666;
}